/*CUSTOM______________________________________*/
/* Just for display purposes */
.group {
    background-color: #f1f1f1;
}
p {
    background-color: #d9d9d9;
    margin: 10px;
}
/* Code Examples */
/* https://www.sitepoint.com/best-practice-for-code-examples/ */
.code-example {
    display: flex;
    justify-content: center;
    margin: 2rem;
}
pre {
    background-color: rgb(52, 55, 56);
    color: #e7e5e5;
    padding: 0 2em;
    border-radius: 0.5em;
}
pre span {
    color: rgb(106, 172, 106);
}
pre b {
    font-weight: normal;
    color:rgb(87, 135, 190);
}
pre u {
    text-decoration: none;
    color:rgb(219, 157, 128);
}
pre i {
    text-decoration: none;
    font-style: normal;
    color:rgb(173, 208, 228);
}
pre code {
    white-space: pre-line;
}
/* Logo/Text */
.nav1-name h4 {
    border: solid 5px rgb(173, 208, 228);
    border-radius: 15px;
    padding: -5px;
    font-weight: normal;
    color: rgb(173, 208, 228);
    background-color: rgba(153, 207, 226, 0.1);
}
.nav1-name span {
    font-weight: bold;
    color: rgb(33, 101, 179);
}
.nav1-name i {
    top: 3px;
    position: relative;
    color: rgb(255, 166, 0);
}

/*End of CUSTOM______________________________________*

/*RESETS____________________________________*/
html {
    box-sizing: border-box;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
article, aside, figcaption, figure, footer, header, menu, nav, section { 
    display: block;
}
/*End of RESETS_____________________________*/

/*GRID____________________________________*/
/* Common Screen Widths: 
 - Phones: 320px to 414px
 - Tablets: 768px to 1024px 
 - Laptops/Desktops: 1366px
 */

.container {
    width: 100%;
    margin: 0 auto;
}
.container.small {
    max-width: 960px;
}
.group, .row {
    display: flex;
    flex-wrap: wrap;
}
.col-1, .col-2, .col-3, .col-4, .col-33, .col-66 {
  flex: 100%;
  box-sizing: border-box;
 
}

@media (min-width: 768px) {
    .col-3, .col-33 {
        flex: 33%;
    }
    .col-2, .col-4 {
        flex: 50%;
    }
    .col-66 {
        flex: 66%;
    }
}

@media (min-width: 1024px) {
    .col-4 {
        flex: 25%;
    }
}
/*End of GRID____________________________________*/

/*DISPLAY & SPACING____________________________________*/
/* Flex */
.flex {
    display: flex;
}
/* Flex Direction */
.flex.direction-row {
    flex-direction: row;
}
.flex.direction-row-reverse {
    flex-direction: row-reverse;
}
.flex.direction-column {
    flex-direction: column;
}
.flex.direction-column-reverse {
    flex-direction: column-reverse;
}
/* Flex Wrap */
.flex.nowrap {
    flex-wrap: nowrap;
}
.flex.wrap {
    flex-wrap: wrap;
}
.flex.wrap-reverse {
    flex-wrap: wrap-reverse;
}
/* Justify Content */
.flex.justify-content-start {
    justify-content: flex-start;
}
.flex.justify-content-end {
    justify-content: flex-end;
}
.flex.justify-content-center {
    justify-content: center;
}
.flex.justify-content-between {
    justify-content: space-between;
}
.flex.justify-content-around {
    justify-content: space-around;
}
.flex.justify-content-evenly {
    justify-content: space-evenly;
}
/* Align Self */
.flex.align-self-auto {
    align-self: auto;
}
.flex.align-self-start {
    align-self: flex-start;
}
.flex.align-self-end {
    align-self: flex-end;
}
.flex.align-self-center {
    align-self: center;
}
.flex.align-self-baseline {
    align-self: baseline;
}
.flex.align-self-stretch {
    align-self: stretch;
}
/* Align-Items */
.flex.align-items-stretch {
    align-items: stretch;
}
.flex.align-items-start {
    align-items: flex-start;
}
.flex.align-items-end {
    align-items: flex-end;
}
.flex.align-items-center {
    align-items: center;
}
.flex.align-items-baseline {
    align-items: baseline;
}
/* Flex Grow */
.flex.grow {
    flex-grow: 1;
}
/* Block/Inline */
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.inline {
    display: inline;
}
/* Margins */
.mx-auto {
    margin: 0 auto;
}
.my-auto {
   margin: auto 0;
}
.margin-1 {
    margin: 0.25em;
}
.margin-2 {
    margin: 0.5em;
}
.margin-3 {
    margin: 1em;
}
/* Padding */
.padding-1 {
    padding: 0.25em;
}
.padding-2 {
    padding: 0.5em;
}
.padding-3 {
    padding: 1em;
}
/*End of DISPLAY & SPACING____________________________________*/

/*HELPER CLASSES____________________________________*/
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clearfix {
    overflow: auto;
    clear: both;
}
/*End of HELPER CLASSES____________________________________*/

/*Base styles: font sizes*/
html {
    font-size: 100%;
  }
  body {
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    line-height: 1.25;
  }
  
 /*NAVIGATION*/
.nav1-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nav1-flex .icon {
    font-size: 30px;
}
.mainNav1 {
    background-color: #f2f2f2;
    padding: 5px 0;
    display: none;
}
.mainNav1 a {
    display: block;
    color: #000000;
    font-size: 1.25em;
    text-align: center;
    padding: 5px;
}
.mainNav1 a:visited, .mainNav2 a:visited {
    color: #000000;
}
.mainNav1 a:hover, .mainNav2 a:hover {
    text-decoration: none;
    color: #000000;
}
.nav1-subMenu, .nav2-subMenu {
    font-size: 1em;
    display: none;
}

@media screen and (min-width: 700px) {
    .nav1, .nav2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav1 .icon {
        display: none;
    }
    .mainNav1, .nav2 .mainNav2 {
        background-color: #fff;
        display: block;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 55px;
    }
    .mainNav1 li {
        padding: 5px 20px;
    }
    .nav1-subMenu, .nav2-subMenu {
        position: absolute;
        background-color: #f2f2f2;
        padding: 5px;
        margin-top: 5px;
        display: none;
        z-index: 10;
    }
     .nav2 .mainNav2 {
        background-color: #fff;
        position: static;
        top: 0;
        right: 0;
        width: 75%;
    }
    .nav2-name {
        margin-right: 50px;
    }
    .nav2 .mainNav2 .display-large {
        display: block;
    }
}
/*NAV 2 bottom of screen*/
.mainNav2 {
    display: flex;
    background-color: #f2f2f2;
    padding: 5px 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
.mainNav2 a {
    display: block;
    color: #000000;
    font-size: 1.25em;
    text-align: center;
    padding: 5px;
}
.nav2-name {
    padding: 10px;
}
.mainNav2 .display-large {
    display: none;
}
.mainNav2 .nav2-subMenu {
    display: none;
}
  
  /*Typography*/
  /*standard typography*/
  p {
      font-size: 1em;
      line-height: 1.25;
  }
  h1 {
      font-size: 2.25em;
      line-height: 1.25;
  }
  h2 {
      font-size: 1.875em;
      line-height: 1.15384615;
  }
  h3 {
      font-size: 1.625em;
      line-height: 1.375;
  }
  h4 {
      font-size: 1.50em;
      line-height: 1.11111111;
  }
  h5 {
      font-size: 1.25em;
      line-height: 1;
  }
  h6 {
      font-size: 1em;
      line-height: 1;
  }
  blockquote {
      font-size: 1.25em;
      line-height: 1.25;
  }
  /*typography classes*/
  .uppercase {
      text-transform: uppercase;
  }
  .lowercase {
      text-transform: lowercase;
  }
  .capitalize {
      text-transform: capitalize;
  }
  .bold {
      font-weight: bold;
  }
  .italic, .cite, .variable {
      font-style: italic;
  }
  .code {
      font-family: monospace;
  }
  .center-text {
      text-align: center;
  }
  .left-text {
      text-align: left;
  }
  .right-text {
      text-align: right;
  }
  .justify-text {
      text-align: justify;
  }
  @media screen and (min-width: 700px) {
      p {
      line-height: 1.375;
      }
      h1 {
          font-size: 3.25em;
          line-height: 1.05;
      }
      h2 {
          font-size: 2.5em;
          line-height: 1.25;
      }
      h3 {
          font-size: 2.25em;
          line-height: 1.25;
      }
      h4 {
          font-size: 1.75em;
          line-height: 1.22222222;
      }
      h5 {
          font-size: 1.50em;
          line-height: 1em;
      }
      h6 {
          font-size: 1.25em;
          line-height: 1em;
      }
      blockquote {
          font-size: 1.5em;
          line-height: 1.45;
      }
  }
  /*Link styles*/
  
  a {
      text-decoration: none;
      color: #000080;
  }
  a:visited {
      color: #00004d;
  }
  a:hover {
      text-decoration: underline;
  }
  
  /*Buttons*/
  
  /*four different colors*/
  button, .button, input[type="submit"], input[type="reset"], input[type="button"] {
      background-color: transparent;
      margin: 5px;
      border-radius: 4px;
      border: solid 1px #808080;
      display: inline-block;
      padding: 10px;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 1em;
      height: 40px;
  }
  button.basic, .button.basic, input[type="submit"].basic, input[type="reset"].basic, input[type="button"].basic {
      background-color: #808080;
      color: white;
  }
  button.blue, .button.blue, input[type="submit"].blue, input[type="reset"].blue, input[type="button"].blue {
      background-color: #3333ff;
      color: white;
      border-color: #3333ff
  }
  button.green, .button.green, input[type="submit"].green, input[type="reset"].green, input[type="button"].green {
      background-color: #009900;
      color: white;
      border-color: #009900;
  }
  button.orange, .button.orange, input[type="submit"].orange, input[type="reset"].orange, input[type="button"].orange {
      background-color: #e65c00;
      color: white;
      border-color: #e65c00;
  }
  button.red, .button.red, input[type="submit"].red, input[type="reset"].red, input[type="button"].red {
      background-color: #e60000;
      border-color: #e60000;
      color: white;
  }
  button.red:hover, .button.red:hover, input[type="submit"].red:hover, input[type="reset"].red:hover, input[type="button"].red:hover {
      background-color: #ff1a1a;
  }
  button.orange:hover, .button.orange:hover, input[type="submit"].orange:hover, input[type="reset"].orange:hover, input[type="button"].orange:hover {
      background-color: #ff751a;
  }
  button.green:hover, .button.green:hover, input[type="submit"].green:hover, input[type="reset"].green:hover, input[type="button"].green:hover {
      background-color: #00cc00;
  }
  button.blue:hover, .button.blue:hover, input[type="submit"].blue:hover, input[type="reset"].blue:hover, input[type="button"].blue:hover {
      background-color: #6666ff;
  }
  button.basic:hover, .button.basic:hover, input[type="submit"].basic:hover, input[type="reset"].basic:hover, input[type="button"].basic:hover {
      background-color: #595959
  }
  button:hover, .button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
      background-color: #d9d9d9;
  }
  button:active, .button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
      transform: translateY(1px);
      filter: saturate(150%);
  }
  
  
  /*three different sizes, normal is just the default*/
  
  button.xsmall, .button.xsmall, input[type="submit"].xsmall, input[type="reset"].xsmall, input[type="button"].xsmall {
      padding: 5px;
      height: 25px;
      font-size: .7em
  }
  button.small, .button.small, input[type="submit"].small, input[type="reset"].small, input[type="button"].small {
      padding: 5px;
      height: 30px;
      font-size: .85em
  }
  button.large, .button.large, input[type="submit"].large, input[type="reset"].large, input[type="button"].large {
      padding: 15px;
      font-size: 1.25em;
      height: 55px;
  }
  /*Forms*/
  form {
      border: solid 3px grey;
      border-radius: 5px;
      padding: 5px;
      margin: 0 10px;
      padding: 10px;
      text-align: center;
  }
  label {
      display: block;
  }
  .group-form{
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -5px;
      margin-left: -5px;
    
  }
  .group-form > [class*="col-"] {
      padding-right: 5px;
      padding-left: 5px;
    }

 .form-control{
      margin: 1em 0;
      border: solid 1px white;
      border-radius: 5px;
      width: 100%;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      padding: 0.375rem 0.75rem;
      height: 2.5em;
  }
.form-control:focus{
      color: #495057;
      background-color: #fff;
      border-color: #96f7a9;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(150, 247, 247, 0.25);
}
/*Dropwdown list*/
.select{
     margin: 1em 0;
    display: inline-block;
    width: 100%;
    border: solid 1px white;
    border-radius: 7px;
    height: 2.5em;
    padding: 0.55em;
    font-size: 1em;
    line-height: 1.5;
    color: #495057;
}
textarea.form-control{
    height: auto;
}
.select:focus{
      color: #495057;
      background-color: #fff;
      border-color: #96f7a9;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(150, 247, 247, 0.25);
}
.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
  margin: 1em 0;
}

.form-checkbox {
  height: 15px;
  width: 15px;
  background-color: #eee;
  position: absolute;
  margin-top: 0.1rem;
  margin-left: -1.25rem;
}
fieldset{
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
  @media screen and (min-width:700px){
      form {
          text-align: left;
      }
  }
  /*lists*/
  
  ul {
      list-style-type: none;
  }
  li {
      padding: 3px;
  }
  .listCircle {
      list-style-type: circle;
  }
  .listBullet {
      list-style-type: disc;
  }
  
  /*Tables*/
/*Tables*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ccc;
}

th, td {
    text-align: left;
    padding: 8px;
}

.tableEx {
    background-color: #81aff9;
    padding: 1rem;
}
.resTable {
    overflow-x: auto;
}

.table-simple {
    background-color: #fff;
}
.table-zebra {
    background-color: #fff;
}
.table-zebra tr:nth-child(even){
    background-color: #f2f2f2;
}

.table-invert {
    background-color: #000;
    color: #fff;
}
.table-invert.table-zebra tr:nth-child(even){
    background-color: #414142;
}

/*Icons*/

.iconEx {
    background-color: #ccc;
    padding: .5rem;
}

.iconEx li {
    height: 50px;
    display: inline-block;
}

.about {
    left: 0px;
    width: 44px;
    background: url("../images/iconSprite.png") 0 0;
}

.home {
    left: 0px;
    width: 44px;
    background: url("../images/iconSprite.png") 0 -53px;
}

.contact {
    left: 0px;
    width: 44px;
    background: url("../images/iconSprite.png") 0 -106px;
}

.location {
    left: 0px;
    width: 44px;
    background: url("../images/iconSprite.png") 0 -160px;
}

.projects {
    left: 0px;
    width: 44px;
    background: url("../images/iconSprite.png") 0 -214px;
}

.insta {
    left: 0px;
    width: 44px;
    background: url("../images/iconSprite.png") 0 -268px;
}

.fb {
    left: 0px;
    width: 44px;
    background: url("../images/iconSprite.png") 0 -322px;
}

.in {
    left: 0px;
    width: 44px;
    background: url("../images/iconSprite.png") 0 -376px;
}

.twitter {
    left: 0px;
    width: 44px;
    background: url("../images/iconSprite.png") 0 -430px;
}

.upload {
    left: 0px;
    width: 44px;
    background: url("../images/iconSprite.png") 0 -484px;
}

.download {
    left: 0px;
    width: 44px;
    background: url("../images/iconSprite.png") 0 -539px;
}

.print {
    left: 0px;
    width: 44px;
    background: url("../images/iconSprite.png") 0 -593px;
}

.hamMenu {
    left: 0px;
    width: 44px;
    background: url("../images/iconSprite.png") 0 -647px;
}

.hamX {
    left: 0px;
    width: 44px;
    background: url("../images/iconSprite.png") 0 -700px;
}

  /*Makes content not show up on print*/
  @media print {
      .no-print {
          display: none;
      }
  }
  .responsiveImg {
      width: 100%;
      max-width: 100%;
      height: auto;
  }
  
/*Media queries*/

/* COMPONENTS______________________________ */
/* Header */
.header {
    background-color: rgb(247, 242, 242);
    display: flex;
    overflow: hidden;
}
.header.short {
    min-height: 8.5rem;
    max-height: 9.5rem;
}
.header > div {
    width: 100%;
    position: absolute;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}
.header h1 {
    font-size: 2.25rem;
    color: #f1f1f1;
    text-shadow: 1px 1px #000;
    /* I'm open to the idea of rgba background on all tags; the reason I put the text shadow here specifically in the header is in case the user provides no image, and there is a light background behind light text. Could also set a contrasting (in this case dark) background by default when there's no image. I think this is where I was waiting on what the other framework categories will look like (e.g. if there ends up being classes like a bg-light, bg-dark, text-dark, etc.) */
    margin: 0;
}
.header p {
    color: #f1f1f1;
    text-shadow: 1px 1px #000;
    background-color: transparent;
    font-size: 1.25rem;
    margin: 0;
}

@media (min-width: 768px) {
    .header.short {
        min-height: 12rem;
    }
    .header h1 {
        font-size: 3rem;
    }
    .header p {
        font-size: 1.75rem;
    }
}

@media (min-width: 1024px) {
    .header.short {
        max-height: 15rem;
    }
}
/* Accordion */
.accordion {
    width: 75%;
    max-width: 700px;
    margin-top: 20px;
    background-color: #f2f2f2;
}
.accordion h1, .accordion h2, .accordion h3, .accordion h4, .accordion h5, .accordion h5 {
    cursor: pointer;
}
.accordion.active {
    background-color: #f6f7f8;
    box-shadow: 2px 2px 20px rgba(0,0,0,.2);
}
.accordionContent {
    color: #96999d;
    align-items: center;
    font-weight: 500;
    display: none;
    padding-top: 10px;
}

/* End of COMPONENTS______________________________ */

/*MISC________________________________*/
/*Mask Images*/
.maskEx {
    background-color: #81aff9;
    padding: 1rem;
}

.pixelMask {
    -webkit-mask-image: url(../images/pixelMask.png);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
}

.stripeMask {
    -webkit-mask-image: url(../images/stripeMask.png);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
}

.circuitMask {
    -webkit-mask-image: url(../images/circuitMask.png);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
}


/*End of MISC________________________________*/