img {
  display: block;
  margin: auto;
}
button, .button {
  display: block;
  margin: 0 auto 10px;
}
hr {
  margin: 0.5em 0 1em 0;
  border-top: solid 0px #e7e5e5;
}
.smallDiv {
  width: 2.5em;
}

/* Logo/Text */
.nav1-name h6, .nav1-name h5, .nav1-name h4, .nav1-name h3, .nav1-name h2, .nav1-name h1 {
  border: solid 5px rgb(173, 208, 228);
  border-radius: 15px;
  padding: 5px;
  font-weight: normal;
  color: rgb(173, 208, 228);
  background-color: rgba(153, 207, 226, 0.1);
}
.nav1-name span {
  font-weight: bold;
  color: rgb(33, 101, 179);
}
.nav1-name i {
  top: 3px;
  position: relative;
  color: rgb(255, 166, 0);
}

/* Header */
.logo-pos i {
  top: 7px !important;
}

@media screen and (max-width: 460px) {
  .header-logo {
    display: none;
  }
}

/* Download Button Area */
.downloadArea1 {
  margin-top: 40px;
}
.exampleDivSection {
  padding: 30px;
}
#mainPageDownload {
  font-size: 1.75em;
  padding: 5px;
  color: black;
}
.documentation {
  margin: 40px 0;
}
.documentation h2 {
  padding-bottom: 25px;
}
.examples, .components {
  background-color: rgba(179,179,179,.2);
}
.examples {
  margin-top: 40px;
}
.examples p {
  margin: 0 20px;
}
footer {
  
}
.exampleDiv {
  background-color: rgba(179,179,179,.2);
  margin: 5px;
  padding: 5px;
  text-align: center;
}
.exampleDiv2 {
  background-color: rgba(179,179,179,.2);
  text-align: center;
}
.exampleDiv3 {
  background-color: rgba(179,179,179,.2);
  margin: 5px;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .downloadArea {
    margin-left: 30px
  }
}

@media screen and (min-width: 968px) {
  .doc-example {
    width:100%;
  }
  .doc-example1 {
    width:100%;
  }
}

/* Code Examples */
pre {
  background-color: rgb(52, 55, 56);
  color: #e7e5e5;
  padding: 0 2em;
}
pre span {
  color: rgb(106, 172, 106);
}
pre b {
  font-weight: normal;
  color:rgb(87, 135, 190);
}
pre u {
  text-decoration: none;
  color:rgb(219, 157, 128);
}
pre i {
  text-decoration: none;
  font-style: normal;
  color:rgb(173, 208, 228);
}
pre code {
  white-space: pre-line;
  word-wrap: break-word;
}